[Unit]
Description=Freakin' Awesome Dynamic DNS Client
After=network.target
Wants=network.target

[Service]
ExecStart=/usr/bin/faddnsc

[Install]
WantedBy=multi-user.target
